.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.order-form {
  z-index: 1;
  display: flex;
  padding: 50px;
  flex-direction: column;
  background-color: white;
  border: black solid 2px;
  width: 500px;
  position: relative;
  -webkit-box-shadow: 5px 5px 7px -2px rgba(56, 56, 56, 1);
  -moz-box-shadow: 5px 5px 7px -2px rgba(56, 56, 56, 1);
  box-shadow: 5px 5px 7px -2px rgba(56, 56, 56, 1);
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.order-form__title {
  font-size: 40px;
}

.order-form__row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form__row__element {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.order-form__row__element input {
  flex-grow: 1;
}

h1 {
  color: white;
}

input {
  border: black 1px solid;
  margin-left: 10px;
  width: 10%;
}

select {
  margin-left: 10px;
}

button {
  background: black;
  font-size: 26px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  width: auto;
}

button:disabled {
  background: lightgray;
}

.overlay {
  display: flex;
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.overlay__spinner {
  display: flex;
  justify-content: center;
  position: absolute;
}

.overlay__success {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overlay__success__title {
  font-size: 30px;
}

.overlay__success__content {
  font-size: 20px;
}

.overlay__success__reset button {
}

.error {
  color: red;
}
