<div class="container">
  <h1 class="order-form__title">wanna eat?</h1>
  <div class="order-form">
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>full name</label>
        <input type="text" name="name"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>street</label><input type="text" name="street"><br>
      </div>
      <div class="order-form__row__element">
        <label>house no.</label><input type="text" name="housenumber"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>city</label><input type="text" name="city"><br>
      </div>
      <div class="order-form__row__element">
        <label>Postal code</label><input type="text" name="postalcode"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>Email</label><input type="text" name="email"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>Phone number</label><input type="text" name="phonenumber"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>how much € do you want to spend?</label><input type="text" name="amount"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
      <label>Bank</label>
      <select id="bank">
        <option value="rabobank">Rabobank</option>
        <option value="abnamro">ABN AMRO</option>
        <option value="ing">ING</option>
      </select>
      </div>
      <input id="submit-btn" type="submit" value = "order">
    </div>
  </div>
</div>
