<div class="container">
  <h1 class="order-form__title">wanna eat?</h1>
  <div class="order-form">
    <div *ngIf="showSpinner" class="overlay overlay__spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="orderPlaced" class="overlay overlay__success">
      <div class="overlay__success__title">
        tada 🎉
      </div>
      <div class="overlay__success__content">
        Use the following url to pay for your order: ____
      </div>
      <div class="overlay__success__reset">
        <button (click)="resetForm()">Generate another order</button>
      </div>
    </div>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)"
    [ngClass]="showSpinner ? 'show_spinner':''">
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>full name</label>
        <input type="text" formControlName="fullName"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>street</label><input type="text" formControlName="street"><br>
      </div>
      <div class="order-form__row__element">
        <label>house no.</label><input type="text" formControlName="houseNumber"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>city</label><input type="text" formControlName="city"><br>
      </div>
      <div class="order-form__row__element">
        <label>postal code</label><input type="text" formControlName="postalCode"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>email</label><input type="text" formControlName="email"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>phone number</label><input type="text" formControlName="phoneNumber"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
        <label>how much € do you want to spend?</label><input type="text" formControlName="amountToSpend"><br>
      </div>
    </div>
    <div class="order-form__row">
      <div class="order-form__row__element">
      <label>bank</label>
      <select id="bank" formControlName="bank">
        <option value="rabobank">Rabobank</option>
        <option value="abnamro">ABN AMRO</option>
        <option value="ing">ING</option>
      </select>
      </div>
      <input id="submit-btn" type="submit" value = "order">
    </div>
  </form>
    <div *ngIf="showError" class="error">
      Oops, something went wrong..
    </div>
  </div>
</div>

